.login-forms {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  margin-bottom: 50px;

  label {
    display: grid;
    margin-bottom: 50px;

    input {
      height: 30px;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;

      margin-top: 5px;
    }
  }
  .login-button {
    margin: 0 auto ;
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 15px;

    cursor: pointer;

    transition: all 0.5s;
  }

  .login-button:hover {
    font-size: 14px;
    width: 270px;
    transition: all 0.5s;
  }
}



.login-link {
  margin: 0 auto;

  a {
    text-decoration: none;

    transition: all 0.5s;
  }
  a:hover {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;

    transition: all 0.5s;
  }
}
